In [ ]:
import pandas as pd

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df1 = pd.read_csv('text.csv')

In [ ]:
df1

                                            Document      Class
0         Teclov is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [ ]:
print(df1.columns)

Index(['Document', 'Class'], dtype='object')

In [ ]:
df1['Class'] = df1.Class.map({'cinema':0, 'education':1})
df1

                                            Document  Class
0         Teclov is a great educational institution.      1
1            Educational greatness depends on ethics      1
2  A story of great ethics and educational greatness      1
3                           Sholey is a great cinema      0
4                   good movie depends on good story      0

In [ ]:
X= df1['Document'].to_numpy()
y = df1['Class'].to_numpy()
y = y.astype('int')

In [ ]:
print("X")
print(X)
print("y")
print(y)

X
['Teclov is a great educational institution.'
 'Educational greatness depends on ethics'
 'A story of great ethics and educational greatness'
 'Sholey is a great cinema' 'good movie depends on good story']
y
[1 1 1 0 0]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer 
vec = CountVectorizer( )

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Create an instance of CountVectorizer
vec = CountVectorizer()

# Fit and transform the data
X_transformed = vec.fit_transform(X)

# Access the vocabulary
vocabulary = vec.vocabulary_

In [ ]:
vec.fit(X)
vec.vocabulary_

{'some': 2, 'text': 3, 'more': 1, 'even': 0}

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

my_stop_words = ['word1', 'word2', 'word3']
vectorizer = CountVectorizer(stop_words=my_stop_words)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

stop_words = ['word1', 'word2', 'word3']
vectorizer = CountVectorizer(stop_words=stop_words)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

X = ['some text', 'more text', 'even more text']
vectorizer = CountVectorizer()
vectorizer.fit(X)
X_transformed = vectorizer.transform(X)

In [ ]:
X=X_transformed.toarray()
X

array([[0, 0, 1, 1],
       [0, 1, 0, 1],
       [1, 1, 0, 1]])

In [ ]:
print(vec.get_feature_names_out())
print(len(vec.get_feature_names_out()))

['even' 'more' 'some' 'text']
4

In [ ]:
X=X_transformed.toarray()
X

array([[0, 0, 1, 1],
       [0, 1, 0, 1],
       [1, 1, 0, 1]])

In [ ]:

unique_values = np.unique(Y_test)
print(unique_values)
print("X_test")
print(X_test)
print("Y_test")
print(Y_test)

['label1' 'label2' 'label3']
X_test
['doc1' 'doc2' 'doc3']
Y_test
['label1' 'label2' 'label3']

In [ ]:
X_test_transformed=vec.transform(X_test)
X_test_transformed

<3x4 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>